<footer>
    <div class="footer">
        <div class="logo">
            <img src="/public/img/NhaHang/logo_without_bg.png" alt="image" width="70%">
        </div>
        <div class="info">
            <h1>BROSBBQ</h1>
            <div>
                <span ><i class="fa-solid fa-location-dot"></i></span>
                &nbsp;Nhà số 47, đường Nguyễn Thị Diệu, quận 3, TPHCM
            </div>
            <div> <span><i class="fa-solid fa-phone-volume"></i></span> 0283930999</div>
        </div>
        <div>
            <a href="http://www.facebook.com/brosbbq1980s" style="color:white"><i style="font-size: 30px;cursor:pointer;" class="fa-brands fa-facebook"></i></a>
            <a href="https://instagram.com/brosbbq1980s" style="color:white"><i style="font-size: 30px;cursor:pointer;" class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <div style="padding: 10px 5rem;color: rgba(6, 4, 4, 0.85);">
        © 2022 | All rights reserved.
    </div>
</footer>