<header>
    <div class="nav-bar">
        <div class="logo">
            <a href="home"><img src="/public/img/NhaHang/Logo.jpg" alt="image" width="70%"></a>
        </div>
        <div class="center-nav">
            <a id="nav-bar" style="text-decoration:none" href="about">About</a>
            <a id="nav-bar" style="text-decoration:none" href="menu">Menu</a>
            <a id="nav-bar" style="text-decoration:none" href="review">Review</a>
            <a id="nav-bar" style="text-decoration:none" href="events">Events</a>
        </div>
        <div>
            <div class="nav-login">
                <a href="login" style="font-size: 20px; text-decoration:none">Login</a>
            </div>            
            <div class="book-now">
                <a style="text-decoration:none" href="">Book Now</a>
            </div>
        </div>
    </div>
</header>