<div class="about">
    <div class="img-about">
        <div class="ab-us">About us</div>
        <div class="slogan">Nhà hàng thịt nướng chuẩn Hàn Quốc</div>
        <div style="display:grid; grid-template-columns: 50% 50%; justify-content:space-between">
            <img width="350px" height="505px" src="/public/img/NhaHang/HanhLang.jpg" alt="hanhlang">
            <img width="390px" height="505px" src="/public/img/NhaHang/View.jpg" alt="view">
        </div>     
    </div>
    <div>
        <div style="font-size:30px; color: white; font-weight:bold; margin-top: 3rem;">
            BROS BBQ giá trị tinh thần
        </div>
        <br>
        <div class="info-about">Chú trọng vào nguyên liệu
            <br> Chúng tôi lựa chọn các nguyên liệu cơ bản để chế
            <br> biến món ăn của chúng tôi với quan niệm rằng gia
            <br> đình của chúng tôi sẽ ăn chúng.
        </div>
        <br>
        <br>
        <div class="info-about">Tập trung vào khách hàng <br>
            Điều quan trọng là ăn với ai và trong bầu không khí <br>
            như thế nào, chúng tôi sẽ làm việc chăm chỉ để <br>
            khách hàng có được quản thời gian thú vị hơn.
        </div>
        <br>
        <br>
        <div class="info-about">Giữ tập trung cao độ <br>
            Tôi tin rằng trái tim kiên định sẽ truyền tải được sự <br>
            chân thành. Chúng tôi luôn muốn xây dựng mối <br>
            quan hệ tốt đẹp với khách hàng bằng sự chân <br>
            thành.
        </div>
    </div>
</div>
<br>
<br>
<hr style=" color: white;
            background-color: white;
            height: 2px;
            width: 52%;
            margin-left: 20rem;
            margin-bottom: 10rem">
<div class="map" style="margin: 0rem 6rem">
    <img width="100%" src="/public/img/NhaHang/RestaurantOnGGmaps.png" alt="map">
    <div style="color: yellow;">Working Hours</div>
    <div style="color: white">Sunday to Saturday <br>
    11:00 AM to 11:00 PM</div>
    <br>
    <div style="color: yellow;">Location</div>
    <div style="color: white">47 Nguyen Thi Dieu <br>
    Q.3 TP.HCM</div>
    <br>
    <div style="color: yellow;">Contact us</div>
    <div style="color: white">028 3903 0999 <br>
    brosbbq1980s@gmail.com</div>
    <a href="https://www.facebook.com/BROSBBQ1980s" style="text-decoration:none; color: white;">
        https://www.facebook.com/BROSBBQ1980s
    </a>
    <br>
    <br>
</div>