<div class="event">
    <div style="display: grid; grid-template-columns:50% 50%">
        <div style="text-align: left;margin:3rem;">
            <div style="color: yellow; margin-left: 15px;">PROMOTION <del style="color: white;">&emsp;&emsp;&emsp;</del></div>
            <div style="font-size:50px;color: white;margin-left: 15px;margin-bottom:2rem;">EVENTS</div>
        </div>
        <div style="text-align: left;margin:5rem;color:rgb(66, 65, 65);">
            PROMOTION THÁNG 11
        </div>
    </div>
    <img src="/public/img/NhaHang/Promotion_1.jpg" alt="">
    <div class="show-more"> <a href="" style="text-decoration: none;color:white;">Show more</a></div>
    <br>
</div>