<div class="home">
    <h1>Welcome to real <br>Korea</h1>
    <a class="our-menu" href="menu">Our menu</a>
    <div style="text-align: right;">
        <img class="bia" src="/public/img/NhaHang/Bìa.jpg" alt="bia">
    </div>

    <hr style=" color: white;
            background-color: white;
            height: 3px;
            width: 30%;
            margin-left: 44rem;
            margin-bottom: 10rem">

    <div class="home-info">
        <div>
            <img class="nhahang" src="/public/img/NhaHang/NhaHang.jpg" alt="nhahang">
        </div>
        <div >
            <div class="address">47, Nguyễn Thị Diệu, quận 3, TP.HCM</div>
            <div class="quocky">
                <div class="hq"><img src="/public/img/QuockyHanQuoc.png" alt="HQ"></div>
                <div class="vn"><img src="/public/img/QuocKyVietNam.png" alt="VN"></div>
            </div>
            <div class="contact">Contact us: 0283930999</div>
        </div>
    </div>
</div>