<div class="login" style="color:white">
    <h1 style="font-size: 35px;padding-right: 24rem;">Login</h1>
    <form style="font-size: 25px;" method="post" action="/login/find">
        <div>
            username: <input type="text" placeholder="Enter username" style="font-size: 25px;" name="username">
        </div>
        <div>
            password: <input type="password" placeholder="Enter password" style="font-size: 25px;" name="password">
        </div>
        <span style="color: red; padding-right: 8rem">{{msg}}</span>
        <div>
            <input type="submit" value="Login" style="font-size: 25px;">
        </div>                
    </form>
</div>