<div class="review">
    <div class="rview">REVIEWS</div>
    <div class="fill-info">
        <input size="70px" type="text" class="name-box" placeholder="ENTER YOUR NAME"> <br>
        <input size="70px" type="tel" class="tele-box" placeholder="ENTER YOUR PHONE NUMBER"> <br>
        <textarea name="mess" class="mess-box" cols="66" rows="10" placeholder="ENTER MESSAGES"></textarea> <br>
        <input style="height:40px; width:100px; font-size: 20px; margin:5rem" type="submit">
        
    </div>
</div>